<nav class="navbar sticky-top navbar-light bg-light">
    <h3>
        <a id="title" href="/">BlogPost</a>
    </h3>
    <div>
        {{#if loggedIn}}
            <a href="/logout"><button id="logout" class="btn-no-style">logout</button></a>
            
        {{else}}
            <div id="menu">
                <a href="/login">Login</a>
                <a href="/signup">Signup</a>
        {{/if}}
                <a href="/map">Map</a>
            </div>
    </div>
</nav>